*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.login-page{
    display: flex;
    flex-direction: row;
}
.logo{
    width: 100px;
    height: 50px;
    margin: 20px;
}
.first-half{
    width: 40%;
    background-image: url(images/images.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
h3{
    color: white;
    padding: 20px 0px 0px 220px;
    text-align: justify;
    font-size: 20px;

    
}
.sitting-guy{
    width:100px;
    position: relative;
    top: 0;
    left: 85%;
    right: 50%;
}
.second-half{
    text-align: justify;
    width: 60%;
    padding-left: 50px;
    padding-top: 70px;
}
.waving-hand{
    width: 50px;
    margin-bottom: 30px;
}
.welcome-back{
    font-weight: 700;
    font-size: 17px;
    padding-bottom: 20px;
}
.user-input{
    padding: 5px;
    width: 60%;
    border-radius: 6px;
    border:1px solid #097ae0;
    outline: none;
}
.user-submit{
    width: 60%;
    padding: 7px;
    margin-top: 30px;
    border-radius: 6px;
    border: none;
    margin-bottom: 30px;
    background-color: #097ae0;
    color: white;
}
.form-input{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}